<div id="<%= dom_id flashcard %>">
  <p>
    <strong>Question:</strong>
    <%= flashcard.question %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= flashcard.answer %>
  </p>

  <p>
    <strong>User:</strong>
    <%= flashcard.user_id %>
  </p>

  <p>
    <strong>Deck:</strong>
    <%= flashcard.deck_id %>
  </p>

</div>
