<h1>New card</h1>

<%= form_with model: @card, url: user_deck_cards_path, method: :post do |form| %>
  <div>
    <%= form.label :question %>
    <%= form.text_field :question %>
    <br/>
  </div>
  <div>
    <%= form.label :answer %>
    <%= form.text_field :answer %>
    <br/>
  </div>
  <div>
    <%= form.submit "Create card" %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to cards", user_deck_cards_path %>
</div>
